body, html {
  margin:0;
  padding:0;
  width:100%;
  height:300%;
}

img, embed, object, video {
  max-width: 100%;
}

body {
  font-family: Raleway;
  font-size: 14px;
  color:#424242;
}

h1, h2, h3, h4, h5 {
  font-family: Cardo;
  margin:0;
}

h1 {
  font-size: 3.5vw;
  text-transform: capitalize;
}

h2 {
  font-size: 3.5vw;
  padding: 10vh 0;
  margin-left: 40px;
}

h4 {
  font-size: 2vw;
  text-transform: capitalize;
}

nav, main, section {
  box-sizing: border-box;
}

.homepage {
  height:100vh;
  width:100%;
}
.navbar {
    width: 100%;
    position: fixed;
    /* padding: 10px; */
    top: 0px;
    text-align: center;
    transition: 0.5s;
    z-index: 100;
    margin-top: 0;
    background-color:#363237;
    opacity: 0.9;
}

nav .nav_links {
  width:100%;
  position:absolute;
  float: left;
  text-align: center;
  display: block;
  cursor: pointer;
  padding: 18px 20px;
  margin: 10px;
}

.nav_links > a {
    padding-left:30px;
    padding-right:30px;
    color: white;
  }

.sm_icon > a {
  color: white;
  padding-left:10px;
  padding-right:10px;
}

ul, li {
  list-style-type: none;
  float: right;
  display: inline-block;
  padding: 10px 5px;
  color: black;
  font-size: 24px;
  margin: 0px;
  font-family: sans-serif;
  cursor: pointer;
}

.content {
  text-align: center;
  padding-top: 220px;
  width:100%;
  height: 300px;
  margin-left: auto;
  margin-left: auto;
}

.content .btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #D09683;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.content .btn:first-child {
  border: none;

}
.content .btn:last-child {
  margin-left: 20px;
  border-color: #D09683;
  background-color: transparent;
  color: #D09683;
}

.content .btn:hover {
    background-color: #2D4262;
    border-color: #2D4262;
    transform: scale(1.1);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}


.background_wrap {
  background-image: url("images/image_2.jpg");
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  margin-top: 0;
}

/* The About me Section starts here */

.about {
  height: 100%;
  width:100%;
}

.about_wrap {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 30%;
}

.about_title {
  color: white;
}

.about_background {
  background-image: url("images/image_3.jpg");
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* opacity: 0.5; */
  height: 500px;
  margin-top: 0;
  width: 100%;
}

div.about_background p {
  color: white;
  text-align: center;
  padding-top: 20%;
}

/* The Portfolio Section starts here */

.portfolio {
  padding-top:10vh;
}

figure {
  margin-top: 0;
}

figure, .snippet_thumbnail {
  display: inline-block;
  padding-bottom: 20px;
  width: 300px;
  height: 250px;
  border-radius: 0px;
  margin-left: 40px;
}

.snippet__title, h3 {
  font-size: 2vw;
  text-transform:uppercase;
  text-emphasis-color: #02b3e4;
}

/* .box {
    float: left;
    width: 40%;
    padding-right: 30px;
    display: block;
} */

.box.project1project1_desc {
  height: 300px;
}



/* Responsiveness */

.container {
  display: flex;
  flex-wrap:wrap;
}

/*
@media screen and (max-width: 450px) {

  .box {
    width:100%;
  }

  .snippet_thumbnail {
    padding-bottom: 2vh;
  }

  .snippet__title {
    text-align: center;
  }
}

@media screen and (min-width: 451px) and (max-width: 850px){

  .box {
    width:40%;
    margin-right: 4px;s
  }

 .snippet__title {
   font-size: 5vw;
 }

  .snippet__title {
      text-align: center;
  }
} */

@media screen and (min-width: 851px){

  figure, .project_desc {
    float: left;
    max-width:100%;
  }

  .project_img {
    width:30%;
  }

  .project_desc {
    width: 60%;
  }

  h2 {
    size: 3vw;
  }

  h4 {
    size: 2vw;
  }

  .followSoon {
    margin-right: 0px;
  }
} */
